body{
    background-color:rgb(44, 43, 43);
    
    font-size:10pt;
    margin:20px;
}
header{
    padding:0;
    margin:10px;
    text-align:center;
    color:white;
    margin-top:30px;

}
logomanu{
    margin-bottom:20px;
    background-color: #fff;
    
}
#head1{
    font-size:5rem;
    color:rgb(230, 36, 36);
    margin-left:60px;
    font-family: sans-serif;
    margin-top:250px;
    
}
.asia{
    list-style-type: none;
    text-align:center;
    margin:0;
    padding:0;
    margin-left:100px;
    float: right;
}
.asia li {
    display: inline-block;
}
.asia li a{
    
    color: white;
    font-weight: bolder;
    padding-bottom:50px;
    padding-right:75px;

}
.sawir{
    float: right;
    margin-right: 100px;
}
.macluumaad{
    color:white;
}


#i{
    color:red;
}

.hel{
    border: 1px solid rgb(44, 43, 43);
    
    background-color:rgb(44, 43, 43);
    border-radius:90%;
    width:120px;
    height:30px;
    margin-left:80px;
    padding-bottom:20px;
    

}


#h4{
    font-size:15px;
    text-align:center;
    color:rgb(209, 253, 47);
    
    background-color:green;

    border-radius:50%;
    padding-bottom:6px;

    
}

#logo{
    float: left;
    font:larger;
    color:red;
    padding-bottom:20px;
    



font-size:3rem;

}
#lo{color: white;
    float:left;
    
    margin-top:59px;
    margin-right:100px;

}
.ducaale{

margin-bottom:40px;

}
#xareed{
    list-style-type: none;

}

/*  
Halkan waxa ka bilaab maya contact form magaratay aasiya quruxeey*/


.login{
    border: 2px solid green;
    background-color:white;
    width:600px;
    height:400px;
    margin-left:440px;
    margin-top:180px;



}

  #name{
      background-color:rgb(125, 247, 190);
      width:400px;
      border: 1px solid white;
      font-style: italic;
      color: black;

  }  
  #head{
      text-align: center;
    text-decoration:underline;
    font-family:cursive ;
    
    
  }
  td{
      color:black;
      font-style: italic;
      font-size: 15px;

  }
  #button{
      border-radius:28px;
      background-color: #000;
      color: white;
      text-decoration:underline;
    width:100px;
    margin-left: 300px;
    height: 40px;
    font-style: normal;
  }
    
    /*
    hakan waxaa ka bilaabmaya about quruxlayda ha ilaawin*/
     
    
   
    
    
    .kabo{
        background-color:lightgray;
        margin-top: 100px;
        height: 400px;
        color:black;
    }
    img{
        padding:20px
    }
    #k10{
        float: left;
    }

    
    #i2
    {
        color: black;
        font-family: inherit;
        padding-top: initial;
        padding-bottom:30px;

    }
    h4{
        color: lightcoral;
    }
    
  
    /*
    saddexda doobo*/
    #one10{

        background-color:rgb(235, 31, 16);
        border: 10px rgb(197, 37, 51) ;
    }
    
    #two10{
    background-color:rgb(194, 18, 5);
    border: 9px red ;
    
    }
    
    #three10
    {
    background-color: rgb(167, 29, 29);
    border: red;
    margin-top: 10;
    width:1px;
    }
    
    .all{
       
       width: 15px;
       height: 20px;
       margin-top: 1px;
       margin-bottom: 20px;
       
    
       float:left;
       border-radius: 50%;
       padding-top: 2px;
       padding-right:10px;
       
    
    }
    
    
    
    
    
    
    
    
    